<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </configSections>
  <DXThemeManager>
    <setting name="ApplicationThemeName" serializeAs="String">
      <value>Office2019Colorful</value>
    </setting>
  </DXThemeManager>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="Database" value="MyShop" />
	<add key="Username" value="sa" />
	<add key="Password" value="123" />
    <add key="PageSize" value="5" />
	<add key="Tab" value="0" />
	<add key="PageRibbon" value="" />
  </appSettings>
  <connectionStrings>
		<add name="myDatabaseConnection" connectionString="Server=localhost;Database=MyShop;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
	</connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>